.git* export-ignore
pre-commit.sh export-ignore
build-release.sh export-ignore
*/*.hasc export-ignore
*/*.hbin export-ignore
test_cases_features/* export-ignore
docs* export-ignore
tools/convert_aux_HITRAN_data* export-ignore
tools/correct_matrix* export-ignore
tools/sfit4.k export-ignore
